@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aventine";
  src: url("/fonts/Aventine.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --light-pink: #ffd6e6;
  --medium-pink: #ff77af;
  --dark-pink: #be2555;
  --white: #fffefe;
  background-color: var(--light-pink);
  color: var(--dark-pink);
  max-width: 100vw;
}

h1,
h2,
h3,
ul {
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
  font-family: "Aventine";
}

p {
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* logo */
h1 {
  font-size: 3rem;
  border: 1px solid pink;
}

/* hero text */
h2 {
  font-size: 1.5rem;
}

/* used for cards with link */
h3 {
  font-size: 2rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.section-divider {
  background-image: url(../../public/img/waves/svg-2.png);
  /* height: 200px; */
}

.hero {
  background-image: url(../../public/hero.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

footer {
  background-image: url(../../public/footer-image.avif);
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 100vh; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
