@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Aventine";
  src: url("/fonts/Aventine.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  max-width: 100vw;
  overflow-x: hidden;
}

a:hover {
  opacity: 0.6;
}

h1,
h2,
h3,
ul {
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
  font-family: "Aventine";
}

p {
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* logo */
h1 {
  font-size: 3rem;
}

/* hero text */
h2 {
  font-size: 1.5rem;
}

/* used for cards with link */
h3 {
  font-size: 1rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.section-divider {
  background-image: url(../../public/img/waves/svg-2.png);
  /* height: 200px; */
}

.hero {
  background-image: url(../../public/hero.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

footer {
  background-image: url(../../public/footer-image.avif);
  background-size: cover;
  background-repeat: no-repeat;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
