@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Aventine";
  src: url("/fonts/Aventine.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.aventine-font {
  font-family: "Aventine";
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("opentype"),
    url("/fonts/Montserrat-Italic-VariableFont_wght.ttf") format("opentype");

  /* font-weight: normal;
  font-style: normal; */
}

:root {
  max-width: 100vw;
  overflow-x: hidden;
}

a:hover {
  opacity: 0.7;
}

h1,
h2,
h3,
ul {
  font-family: "Aventine";
}

footer h2,
p,
a {
  font-family: "Montserrat";
}

p {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: light;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

/* HERO BACKGROUND IMAGE  */
.hero {
  background-image: url(../../public/img/photos/crowd03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 100vh;
}

/* WAVY SECTION DIVIDER */
.section-divider {
  background-image: url(../../public/img/waves/svg-2.png);
}

/*  WHAT WE DO WAVY BACKGROUND BEHIND CARDS*/
#what-we-do {
  background-image: url(../../public/img/backgrounds/sssquiggly.svg);
  background-position: left 200px;
  /* background-size: cover; */
  background-repeat: no-repeat;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
